<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>IlluminationV2</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/file-size.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/ellipsis.js"></script>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>
  <div class="ui violet fixed inverted menu">
    <a href="/" class="item"><i class="sun outline icon"></i>IlluminationV2</a>
    <div><a href="/projects?pageSize=20" class="item">Projects</a></div>
    <div><a href="/pipelines?pageSize=20" class="item">Pipelines</a></div>
    <div><a href="/users?pageSize=20" class="item">Users</a></div>
  </div>
