<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>IlluminationV1</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/jquery.json-viewer.css" />

  <script type="text/javascript" charset="utf8" src="/static/js/jquery.json-viewer.js"></script>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.5/sorting/file-size.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.5/dataRender/ellipsis.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>
  <div class="ui fixed inverted menu">
    <a href="/" class="item"><i class="sun outline icon"></i>Illumination</a>
    <div class="ui simple dropdown item">
      TES
      <i class="dropdown icon"></i>
      <div class="ui inverted menu">
        <a href="/tasks/runs?pageSize=200&sort=timeCreated desc" class="item">Task Runs</a>
        <a href="/tasks?pageSize=100&sort=timeCreated desc" class="item">Tasks</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      WES
      <i class="dropdown icon"></i>
      <div class="ui inverted menu">
        <a href="/workflows/runs?pageSize=200&sort=timeCreated desc" class="item">Workflow Runs</a>
        <a href="/workflows?pageSize=100&sort=timeCreated desc" class="item">Workflows</a>
        <a href="/workflows/versions?pageSize=100&sort=timeCreated desc" class="item">Workflow Versions</a>
      </div>
    </div>
    <div><a href="/volumes?pageSize=300" class="item">Volumes</a></div>
    <div><a href="" class="item">WG_<%= process.env.WORKGROUP %></a></div>
  </div>
