<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Illumination</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.semanticui.min.css" /> -->
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script> -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/file-size.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/ellipsis.js"></script>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>
  <div class="ui fixed inverted menu">
    <a href="/" class="item"><i class="sun outline icon"></i>Illumination</a>
    <div class="ui simple dropdown item">
      TES
      <i class="dropdown icon"></i>
      <div class="ui inverted menu">
        <a href="/tasks/runs?pageSize=1000&sort=timeCreated desc" class="item">Task Runs</a>
        <a href="/tasks?pageSize=200&sort=timeCreated desc" class="item">Tasks</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      WES
      <i class="dropdown icon"></i>
      <div class="ui inverted menu">
        <a href="/workflows/runs?pageSize=100&sort=timeCreated desc" class="item">Workflow Runs</a>
        <a href="/workflows?pageSize=100&sort=timeCreated desc" class="item">Workflows</a>
        <a href="/workflows/versions?pageSize=100&sort=timeCreated desc" class="item">Workflow Versions</a>
      </div>
    </div>
    <div><a href="/volumes?pageSize=300" class="item">Volumes</a></div>
  </div>