<% include partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>UMCCR Stratus Illumination</h1>
            <p>Interacting with the Stratus API</p>
        </div>
    </header>

    <h2>TES</h2>

    <p><a class="btn btn-primary btn-lg" href="/tasks">Tasks</a></p>
    <p><a class="btn btn-success btn-lg" href="/tasks/runs">Task Runs</a></p>

    <h2>WES</h2>

    <p><a class="btn btn-primary btn-lg" href="/workflows">Workflows</a></p>
    <p><a class="btn btn-success btn-lg" href="/workflows/runs">Workflow Runs</a></p>
    <p><a class="btn btn-warning btn-lg" href="/workflows/versions">Workflow Versions</a></p>

</div>

<% include partials/footer %>