<%- include("partials/header") %>

<div class="ui grid container">

  <div class="row">
    <div class="column">
      <div class="ui divider hidden"></div>
      <h1 class="ui header">UMCCR ICA IlluminationV2</h1>
      <div class="ui divider"></div>
    </div>
  </div>

  <div class="row">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Project</th>
        <th>Data</th>
      </tr>
  </thead>
    <tbody>
      <tr>
        <td><a href="http://localhost:3000/projects/305929b1-e705-4665-b7f0-2075f48162d2">BSSH clinical-genomics-workgroup</a></td>
        <td><a href="http://localhost:3000/projects/305929b1-e705-4665-b7f0-2075f48162d2/data?pageSize=20">DATA</a></td>
      </tr>
      <tr>
        <td><a href="http://localhost:3000/projects/9c20aeb0-f780-4e9a-ac42-739b30ed91f3">playground_v2</a></td>
        <td><a href="http://localhost:3000/projects/9c20aeb0-f780-4e9a-ac42-739b30ed91f3/data?pageSize=20">DATA</a></td>
      </tr>
      <tr>
        <td><a href="http://localhost:3000/projects/6273a0af-ca20-4cf3-af4b-06ec462f3003">pd_test1</a></td>
        <td><a href="http://localhost:3000/projects/6273a0af-ca20-4cf3-af4b-06ec462f3003/data?pageSize=20">DATA</a></td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui two column grid">
        <div class="column">

          <h1 class="ui header">Main</h1>
          <p><a href="/projects" class="ui big blue button">Projects</a></p>
          <p><a href="/pipelines" class="ui big blue button">Pipelines</a></p>
          <p><a href="/bundles" class="ui big orange button">Bundles</a></p>
          <p><a href="/users" class="ui big violet button">Users</a></p>
          <p><a href="/workgroups" class="ui big teal button">Workgroups</a></p>
          <p><a href="/regions" class="ui big grey button">Regions</a></p>
          <p><a href="/samples?region=1efd315d-6309-4d7e-826b-d3824b0b5acb" class="ui big red button">Samples</a></p>
          <p><a href="/connectors" class="ui big green button">Connectors</a></p>

        </div>

        <div class="column">

          <h1 class="ui header">Other</h1>
          <p><a href="/analysisStorages" class="ui big olive button">Analysis Storages</a></p>
          <p><a href="/dataFormats?pageSize=200" class="ui big purple button">Data Formats</a></p>
          <p><a href="/eventCodes" class="ui big green button">Event Codes</a></p>
          <p><a href="/eventLog" class="ui big grey button">Event Log</a></p>
          <p><a href="/metadataModels" class="ui big blue button">Metadata Models</a></p>
          <p><a href="/notificationChannels" class="ui big pink button">Notification Channels (403 currently)</a></p>
          <p><a href="/storageBundles" class="ui big yellow button">Storage Bundles</a></p>
          <p><a href="/storageConfigurations" class="ui big orange button">Storage Configurations</a></p>
          <p><a href="/storageCredentials" class="ui big orange button">Storage Credentials</a></p>
        </div>
      </div>
    </div>
  </div>


  <%- include("partials/footer") %>
</div>
