<%- include("partials/header") %>

<div class="ui grid container">
  <div class="row">
    <div class="column">
      <div class="ui divider hidden"></div>
      <h1 class="ui header">UMCCR Stratus Illumination</h1>
      <div class="ui divider"></div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui two column grid">
        <div class="column">

          <h1 class="ui header">TES</h1>
          <p><a href="/tasks?pageSize=200&sort=timeCreated desc" class="ui big blue button" tabindex="0">Tasks</a></p>
          <p><a href="/tasks/runs?pageSize=200&sort=timeCreated desc" class="ui big green button">Task Runs</a></p>

          <h1 class="ui header">WES</h1>
          <p><a href="/workflows?pageSize=100&sort=timeCreated desc" class="ui big blue button">Workflows</a></p>
          <p><a href="/workflows/runs?pageSize=100&sort=timeCreated desc" class="ui big green button">Workflow Runs</a></p>
          <p><a href="/workflows/versions?pageSize=100&sort=timeCreated desc" class="ui big orange button">Workflow Versions</a></p>
          <p><a href="/workflows/signals?pageSize=10&sort=timeCreated desc" class="ui big grey button">Workflow Signals</a></p>
        </div>

        <div class="column">
          <h1 class="ui header">GDS</h1>
          <p><a href="/volumes?pageSize=300" class="ui big blue button">Volumes</a></p>

          <h1 class="ui header">ENS</h1>
          <a href="/subscriptions?pageSize=20" class="ui big green button">Subscriptions</a>

          <h1 class="ui header">DCS</h1>
          <p><a href="/usages?periods=6" class="ui big blue button">Usages</a></p>
          <p><a href="/health" class="ui big green button">Health</a></p>
          <p><a href="/regions" class="ui big orange button">Regions</a></p>
          <p><a href="/tokens/details" class="ui big grey button">Tokens Details</a></p>
          <p><a href="/workgroups" class="ui big blue button">Workgroups Available</a></p>
          <p><a href="/projects" class="ui big yellow button">Projects Available</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui divider hidden"></div>
      <h1 class="ui header">Main Workflow Runs & Results</h1>
      <div class="ui divider"></div>
    </div>
  </div>

  <div class="row">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Workflow Version ID</th>
      </tr>
  </thead>
    <tbody>
      <tr>
        <td>germlineDragen-CWL-3.5.2-fpga-QC-Sambamba-comp-test</td>
        <td><a href="http://localhost:3000/workflows/versions/wfv.e852eeee97164a1f85c7faffb0f6430a?pageSize=200&sort=timeCreated%20desc">wfv.e852eeee97164a1f85c7faffb0f6430a</a></td>
      </tr>
      <tr>
        <td>DragenGermline (PD)</td>
        <td><a href="http://localhost:3000/workflows/versions/wfv.6d04e1bdb47146b5be44047666325a52?pageSize=200&sort=timeCreated%20desc">wfv.6d04e1bdb47146b5be44047666325a52</a></td>
      </tr>
      <tr>
        <td>DragenSomatic (PD)</td>
        <td><a href="http://localhost:3000/workflows/versions/wfv.a1d493d212ee4d17ac53d3df0095f100?pageSize=200&sort=timeCreated%20desc">wfv.a1d493d212ee4d17ac53d3df0095f100</a></td>
      </tr>
      <tr>
        <td>umccriseRun (PD)</td>
        <td><a href="http://localhost:3000/workflows/versions/wfv.3b44ee41635147a1a2e60569a301427e?pageSize=200&sort=timeCreated%20desc">wfv.3b44ee41635147a1a2e60569a301427e</a></td>
      </tr>
    </tbody>
  </table>
  </div>

  <%- include("partials/footer") %>
</div>
