<% include partials/header %>

<div class="ui grid container">
  <div class="row">
    <div class="column">
      <div class="ui divider hidden"></div>
      <h1 class="ui header">UMCCR Stratus Illumination</h1>
      <div class="ui divider"></div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui two column grid">
        <div class="column">

          <h1 class="ui header">TES</h1>
          <p><a href="/tasks?pageSize=200&sort=timeCreated desc" class="ui big blue button" tabindex="0">Tasks</a></p>
          <p><a href="/tasks/runs?pageSize=1000&sort=timeCreated desc" class="ui big green button">Task Runs</a></p>

          <h1 class="ui header">WES</h1>
          <p><a href="/workflows?pageSize=100&sort=timeCreated desc" class="ui big blue button">Workflows</a></p>
          <p><a href="/workflows/runs?pageSize=100&sort=timeCreated desc" class="ui big green button">Workflow Runs</a></p>
          <p><a href="/workflows/versions?pageSize=100&sort=timeCreated desc" class="ui big orange button">Workflow Versions</a></p>
          <p><a href="/workflows/signals?pageSize=100&sort=timeCreated desc" class="ui big grey button">Workflow Signals</a></p>
        </div>

        <div class="column">
          <h1 class="ui header">GDS</h1>
          <p><a href="/volumes?pageSize=100" class="ui big blue button">Volumes</a></p>

          <h1 class="ui header">ENS</h1>
          <a href="/subscriptions?pageSize=100" class="ui big green button">Subscriptions</a>

          <h1 class="ui header">DCS</h1>
          <p><a href="/usages?periods=6" class="ui big blue button">Usages</a></p>
          <p><a href="/health" class="ui big green button">Health</a></p>
          <p><a href="/regions" class="ui big orange button">Regions</a></p>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer %>
</div>
