/* #footer {
  position: fixed;
  left: 20px;
  bottom: 0px;
  height: 30px;
  width: 100%;
} */

h1.title {
  padding-top: 1em;
}

i.icon {
  font-size: 1em;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  white-space: pre-wrap;
}
.string_pre {
  color: green;
}
.number_pre {
  color: darkorange;
}
.boolean_pre {
  color: blue;
}
.null_pre {
  color: magenta;
}
.key_pre {
  color: red;
}
