<% include ../partials/header %>

<ul>
  <li><%= `Info about workflow with ID ${wflowid}` %></li>
</ul>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(wflow_info, null, 2)) %>
</pre>

<% include ../partials/footer %>
