<% include ../partials/header %>

<h1 class="title"><%= `Info about Workflow Signal with ID ${signalid}` %></h1>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(signal, null, 2)) %>
</pre>

<% include ../partials/footer %>
