<% include ../partials/header %>
<ul>
  <li><%= `Version for Workflow ID: ${workflowid}` %></li>
</ul>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(version, null, 2)) %>
</pre>

<% include ../partials/footer %>
