<% include ../partials/header %>

<ul>
  <li>Info about Workflow Signals (not much info yet)</li>
</ul>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(signals, null, 2)) %>
</pre>

<% include ../partials/footer %>