<% include partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>UMCCR Stratus Illumination</h1>
            <p>Interact with the Stratus API</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/tasks">List Tasks</a>
            </p>
        </div>
    </header>

    <h2>TES</h2>


    <h3>Task Runs</h3>

    <h3>Task Versions</h3>

</div>

<% include partials/footer %>