<% include ../partials/header %>

<ul>
  <li><%= `Info about task with ID ${taskid}` %></li>
</ul>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(task_info, null, 2)) %>
</pre>

<% include ../partials/footer %>