<% include ../partials/header %>

<h1 class="title"><%= `Version for Task ID: ${taskid}` %></h1>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(version, null, 2)) %>
</pre>

<% include ../partials/footer %>
