<% include ../partials/header %>

<h1 class="title"><%= `Info about file with ID ${fileid}` %></h1>
  <a href="<%= finfo.presignedUrl %>" class="ui toggle compact purple button">Download via Presigned URL</a>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(finfo, null, 2)) %>
</pre>

<% include ../partials/footer %>
