<% include ../partials/header %>

<h1 class="title"><%= `Info about file with ID ${fileid}` %></h1>

<ul>
  <li><a href="<%= finfo.presignedUrl %>">Download via Presigned URL</a></li>
</ul>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(finfo, null, 2)) %>
</pre>

<% include ../partials/footer %>
