<% include ../partials/header %>

<h1 class="title"><%= `Info about folder with ID ${folderid}` %></h1>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(finfo, null, 2)) %>
</pre>

<% include ../partials/footer %>

