<%- include("../partials/header") %>

<h1 class="title"><%= `Info about volume with ID ${volid}` %></h1>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(vinfo, null, 2)) %>
</pre>

<%- include("../partials/footer") %>
