<%- include("../partials/header") %>

<h1 class="title"><%= `NotificationChannel ${channelid}` %></h1>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(data, null, 2)) %>
</pre>

<%- include("../partials/footer") %>

