<%- include("../partials/header") %>

<h1 class="title">List of available regions</h1>

<pre>
<%- jsonSyntaxHighlight(JSON.stringify(regions, null, 2)) %>
</pre>

<%- include("../partials/footer") %>
